body { 
    background-color: white;
    font-family: Arial, Helvetica, Sans-Serif;
    Color: black;
    user-select: none;
}

label{
    font-family:New Roman;
    font-size: 12pt;
}

td{
    padding-top:2px;
    padding-bottom:2px;
    text-align: left;
}

input[type="text"] {
    width: 320px;
    padding: 5px 10px;
    margin: 4px 0;
    display: inline-block;
    border: 1px solid #aaaaaa;
    border-radius: 5px;
    box-sizing: border-box;
    height: 40px;
    background-color: #e7e7e7;
    font-size: 11pt;
}

input[type="text"]:focus {
    outline: none!important;
    border: 1px solid #1E581E;
    box-shadow: 0 0 10px #949860;
}

select{
    width: 160px;
    padding: 5px 10px;
    margin: 4px 0px;
    display: inline-block;
    border : 1px solid #aaaaaa;
    border-radius: 5px;
    box-sizing: border-box;
    height: 39px;
}

select:focus {
    outline: none !important;
    border:1px solid #1E581E;
    box-shadow: 0 0 10px #949860;
}

button {
    background-color: #6F4E37;
    border : 1px solid #3D1C05;
    color: white;
    padding: 8px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    border-radius: 4px;
    font-size: 14px;
}

button:focus {
    outline: none !important;
    padding: 7px;
    border: 2px solid #3D1C05;
    box-shadow: 0 0 10px #949860;
}

.bleBtn {
    background-color: #5c8d99;
    padding: 8px;
    border : 1px solid #2e40db;
}

.bleBtn:focus {
    padding: 7px;
    border : 2px solid #2e40db;
    box-shadow: 0 0 10px #6883aa;
}

div {
  display: table;
  margin-right: auto;
  margin-left: auto;
}

.tip {
    width: 300px;
    text-align: center;
    border: 1px solid #6F4E37;
    padding: 7px;
    display: inline-block;
}
